server:
  port: 9528
  tomcat:
    max-swallow-size: -1 # \u7981\u6B62\u81EA\u52A8\u4E22\u5F03\u5927\u8BF7\u6C42\u4F53\uFF08\u5FC5\u987B\u8BBE\u7F6E\uFF09
    max-http-form-post-size: -1

spring:
  application:
    name: michael-spica-mybatisx
  profiles:
    active: dev
  mvc:
    servlet:
      path: /api