server:
  port: 9527
  tomcat:
    max-swallow-size: -1 # \u7981\u6B62\u81EA\u52A8\u4E22\u5F03\u5927\u8BF7\u6C42\u4F53\uFF08\u5FC5\u987B\u8BBE\u7F6E\uFF09
    max-http-form-post-size: -1

spring:
  application:
    name: michael-spica-mybatisx
  profiles:
    active: dev
  mvc:
    servlet:
      path: /api

mybatis-plus:
  mapper-locations: classpath*:mapper/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true # \u5F00\u542F MyBatis-Plus \u9A7C\u5CF0\u6620\u5C04
  global-config:
    db-config:
      table-prefix: mic_
      id-type: auto

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{traceId}] %logger{36} - %msg%n"
  file:
    name: logs/${spring.application.name}.log
  level:
    root: info
    michael.spica.mybatisx.mapper: debug