server:
  port: 9527
  tomcat:
    max-swallow-size: -1 # 禁止自动丢弃大请求体（必须设置）
    max-http-form-post-size: -1

spring:
  application:
    name: michael-spica-mybatisx
  profiles:
    active: dev
  mvc:
    servlet:
      path: /api
  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: michael.spica.mybatisx.config.TablePrefixNamingStrategy
        table-prefix: mic_ # 表前缀（可为空）
        prefix-enabled: true # 是否启用前缀（true=启用前缀，false=不加前缀）
    show-sql: true # 打印SQL
    properties:
      hibernate:
        format_sql: false # SQL 格式化输出
  servlet:
    multipart:
      max-file-size: 1GB # 单个文件最大 1GB
      max-request-size: 10GB # 整个请求最大 10GB

mybatis-plus:
  mapper-locations: classpath*:mapper/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      table-prefix: ${spring.jpa.hibernate.naming.table-prefix} # 表名前缀
      id-type: auto # 主键生成策略：数据库自增
  tenant:
    enabled: true # 是否启用多租户模式（默认：false:不开启；true:开启）
    ignore-tables: # 开启多租户模式后，不需要多租户隔离的表
#      - mic_order

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{traceId}] %logger{36} - %msg%n"
  file:
    name: logs/${spring.application.name}.log
  level:
    root: info
    michael.spica.mybatisx.mapper: debug